.hero__wrapper {
  background-color: var(--second-brand-color);
  background-image: url('../img/bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero {
    padding: 30rem 0;
    position: relative;
}
.hero .title span {
   color: var(--first-brand-color);
   font-family: var(--main-title-font);
   display: block;
   font-size: 7rem;
   line-height: .7;
}
@media screen and (min-width: 768px)  {
    .hero .title span {
        font-size: 12rem;
    }
}
@media screen and (min-width: 1024px)  {
    .hero {
        text-align: left;
    }
    .hero .btn {
        margin-left: 0;
    }
    .hero .title span {
        font-size: 15rem;
     }
}
